<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<title>::james p. goatcher::</title>
</head>
<body>
	<div class ="container">
		<div class="links">
			<h1 id="lang-h1">Languages</h1>
			<p id="lang-space"></p>
			<ul>
				<li class="lang-list">HTML5</li>
				<li class="lang-list">CSS3</li>
				<li class="lang-list">SASS</li>
				<li class="lang-list">JavaScript</li>
				<li class="lang-list">jQuery</li>
				<li class="lang-list">AngularJS</li>
				<li class="lang-list">Express.js</li>
				<li class="lang-list">Node.js</li>
				<li class="lang-list">MongoDB</li>
				<li class="lang-list">Ruby</li>
				<li class="lang-list">Rails</li>
				<li class="lang-list">SQL</li>
			</ul>
			<p id="lang-space2"></p>
			<a id="lang-link" href="../../index.html">Back</a>
		</div>
	</div>
</body>
</html>