<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<title>::james p. goatcher::</title>
</head>
<body>
	<div class ="container">
		<div class="links">
			<h1 id="tech-h1">Technologies</h1>
			<p id="tech-space"></p>
			<ul>
				<li class="tech-list">Photoshop</li>
				<li class="tech-list">Premiere</li>
				<li class="tech-list">Final Cut Pro</li>
				<li class="tech-list">GWD</li>
				<li class="tech-list">Flite</li>
				<li class="tech-list">Celtra</li>
				<li class="tech-list">DCM</li>
				<li class="tech-list">Jivox</li>
				<li class="tech-list">Excel</li>
				<li class="tech-list">WordPress</li>
				<li class="tech-list">Salesforce</li>
				<li class="tech-list">Quickbooks</li>
				<li class="tech-list">Logic</li>
			</ul>
			<p id="tech-space2"></p>
			<a id="tech-link" href="../../index.html">Back</a>
		</div>
	</div>
</body>
</html>